/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    box-sizing: border-box;
    letter-spacing:1.2px;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:'Roboto', sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------Global------------------------------------------*/
.container{
    width: 85%;
    height: 100%;
    margin: auto;
}
button{
    border: none;
    color: white;
}
p{
    letter-spacing:1.2px;
    line-height: 1.5;
}

/*---------------------------------header-----------------------------------------*/
header{
    background-color: #373637;
    height: 80px;
    color: white;
}
header #branding{
    font-size: 25px;
}
header nav .nav-item{
    display: inline;
    font-size: 12px;
    padding-left: 30px;
}
header .flex-cont{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

/*----------------------Showcase------------------------------*/
#showcase{
    color: black;
    text-align: center;
    
    padding: 19% 150px 9% 150px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)) ,url('intro-bg.jpg');
    
    background-size: cover;
    color: white ;
    
}

#showcase h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
   

}
#showcase p{
    margin: 30px 0 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 17px;
    line-height: 1.5;
}
.showcase-cont{
    z-index: 1;
}
#showcase button{
    padding: 10px 15px;
    background-color: #69ac30;
}
/*---------------------Welcome section------------------*/
#welcome{
    background-color: #f6f6f6;
}
#welcome p{
    color: #989da2;
    line-height: 1.5;
    font-size: 13px;
}
#welcome .left{
   
    width: 50%;
    
}
#welcome .heading{
    font-size: 27px;
    font-weight: 450;
    color: #2e2f2b;
}
#welcome .heading span{
    color: #6faa52;
}

#welcome .container{
    padding: 100px 0;
    display: flex;

}
#welcome #under-dash{
    width: 50px;
    height: 3px;
    background-color: #6faa52;
    margin: 15px 0 25px;
}
#welcome #view-services{
    padding: 13px 18px;
    background-color:  #69ac30;
    border-radius: 5px;
    margin-top: 60px;
}
#welcome #right{
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}

#welcome #right img{
    width: 100%;
    height: 100%;
}
#welcome #right .title{
    font-size: 19px;
    color: #2e2f2b;
    font-weight: 450;
    margin: 15px 0 20px;
}
#welcome #right .col1,#welcome #right .col2{
    width: 40%;
}

/*--------------------------Services-------------------------*/
#services{
    background-color:#69ac30 ;
}
#services .container{
    padding: 80px 0 100px;
    text-align: center;
}
#services .heading{
    font-size: 30px;
    color: white;
}
#services hr{
    width: 55px;
    height: 3px;
    border: none;
    background-color: #c2deac;
    margin: 15px auto;
}
#services p{
    color: rgb(243, 241, 241);
    font-size: 13px;
    letter-spacing:1.5px;
}
#services .flex-cont{
    display: flex;
    justify-content: space-between;

}
#services .flex-cont .heading{
    font-size: 20px;
    font-weight:100;
    margin-bottom: 10px;
}
#services .flex-cont p{
    font-size: 12px;
}
#services img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #79b547;
}
#services .col{
    text-align: center;
    padding: 0 10px;
    
}
#services .col .img-cont{
    width: 150px;
    height: 150px;
    margin: 50px auto 30px;

}
/*----------------------------Gallery------------------*/
#gallery{
    background-color:#f6f6f6 ;
}
#gallery .container{
    padding: 80px 0 100px;
    text-align: center;

}
#gallery .heading{
    font-size: 30px;
    color: #2e2f2b;
}
#gallery p{
    
}
#gallery hr{
    width: 55px;
    height: 3px;
    border: none;
    background-color: #67a236;
    margin: 15px auto;
}
#gallery p{
    color: #4d583b;
    font-size: 13px;
    letter-spacing:1.5px;
}
#gallery .tab{
    display: inline-block;
    margin: 40px 10px 20px;
    padding: 10px 15px;
    color: #4d583b   ;
    border-radius: 5px;
    background-color: #e5e5e5;
}
#gallery #selected{

    background-color: #69ac30;
    color: #f6f6f6;
}
#gallery .img-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#gallery .img-gallery .img-cont{
    flex-basis: 30%;
    margin-bottom: 25px;
}
#gallery .img-gallery img{
    width: 100%;
    height: 100%;
}
/*--------------------------------Testimonials------------------*/
#testimonials{

    background-image:linear-gradient(rgba(105,173,49,0.9),rgba(105,173,49,0.9)),url(assets/testimonials-bg.jpg);
    background-size:contain;
}
#testimonials .container{
    padding: 80px 0 70px;
    text-align: center;
}
#testimonials .heading{
    font-size: 30px;
    color: white;
    
}
#testimonials hr{
    width: 55px;
    height: 3px;
    border: none;
    background-color: #c2deac;
    margin: 15px auto 50px;
}
#testimonials p{
    color: rgb(243, 241, 241);
    font-size: 13px;
    letter-spacing:1.5px;
}
#testimonials p#author{
    margin: 15px 0 25px;
}

#testimonials .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aacf85;
    display: inline-block;
    margin: 0 4px;
}
#testimonials #active{
    background-color: white;
}
/*------------------------------Contact--------------------------*/
#contact{
    background-color: #f6f6f6;
}
#contact .container{
    padding: 80px 100px 90px;
    text-align: center;
    
}
#contact .heading{
    font-size: 30px;
    color: #2e2f2b;
}
#contact hr{
    width: 55px;
    height: 3px;
    border: none;
    background-color: #69ac30;
    margin: 15px auto 20px;
}
#contact p{
    color: #86887c;
    font-size: 13px;
    letter-spacing:1.5px;
}
#contact .flex-cont{
    display: flex;
    justify-content: space-between;
    margin: 55px 0;
}
#contact .flex-cont p{
    font-size: 12px;
}
#contact .col{
    display: inline-block;
    width: 220px;

}
#contact .col .heading{
    font-size: 18px;
}
#contact .col hr{
    width: 55px;
    height: 3px;
    border: none;
    background-color: #e2e2e2;
    margin: 8px auto 20px;
}
#contact form .heading{
    font-size: 15px;
}
#contact form .form-field {
    width: 40%;
    margin: 20px 12px;
    padding: 8px 0 8px 15px;
    border: 1px solid #d6d3d3 ;
    
}
#contact form textarea{
    width: 84%;
    
    padding: 8px 0 8px 15px;
    border: 1px solid #d6d3d3
}
#contact button{
    padding: 13px 15px;
    background-color:#69ad31;
    color: white;
    border-radius: 5px;
    margin: 25px 0 0;
}
footer{
    background-color: #363737;
}
footer .container{
    text-align: center;
    padding: 50px 0 30px;
}
footer .social-media-icon{
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: #474746;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #69ad31;
    margin: 0 15px;
}
footer p{
    font-size: 12px;
    margin: 40px 0 0;
    color: #69696b;
}
footer p>span{
    color: #797978;
}